<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>items</key>
        <array>
            <dict>
                <key>assets</key>
                <array>
                    <dict>
                        <key>kind</key>
                        <string>software-package</string>
                        <key>url</key>
                        <string>http://app.pgyer.com/02b42a6a2c5807701ed48e4f2affca2e.ipa?v=1.1&sign=8a5d404aec6d95bd23df6c5e0aefbb5e&t=570c6ad6&attname=TBRJL_V2.03_2016_04_11_01.ipa</string>
                    </dict>
                    <dict>
                        <key>kind</key>
                        <string>full-size-image</string>
                        <key>needs-shine</key>
                        <true/>
                        <key>url</key>
                        <string>http://download.yxybb.com/yxybbcom/bbt/ios/release/512512.png</string>
                    </dict>
                    <dict>
                        <key>kind</key>
                        <string>display-image</string>
                        <key>needs-shine</key>
                        <true/>
                        <key>url</key>
                        <string>http://download.yxybb.com/yxybbcom/bbt/ios/release/5757.png</string>
                    </dict>
                </array>
                <key>metadata</key>
                <dict>
                    <key>bundle-identifier</key>
                    <string>com.longrise.tbrjl</string>
                    <key>bundle-version</key>
                    <string>1.60</string>
                    <key>kind</key>
                    <string>software</string>
                    <key>title</key>
                    <string>投保人记录</string>
                </dict>
            </dict>
        </array>
    </dict>
</plist>
